body {
    background-color: rgb(230, 230, 230);
}

form {
    margin: 5px;
    width: 20%;
}

form > button {
    margin: 0, auto;
    width: 100%;
}

input[type=text] {
    width: 100%;
    max-width: 200%;
    max-height: 200px;
    margin: 4px;
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

label {
    width: 100%;
    font-size: 14px;
    padding-bottom: 8px;
}

.items-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.data-wrapper {
    margin: 12px;
}

.data-wrapper > div > img {
    max-width: 200px;
    max-height: 200px;
}

.content-price {
    font-weight: bold;
}

.content-old-price {
    text-decoration: line-through;
    color: grey;
}