* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

ul {
    list-style: none;
}

.navi-container {
    margin: 10px;
}

.navi-list-container-item button {
    margin: 12px;
    border: none;
    background-color: transparent;
    color: rgb(71, 71, 71);
}

.navi-list-container-item button:hover {
    cursor: pointer;
    background-color: white;
}

.navi-list-container-item:hover {
    background-color: white;
}

.navi-list-dropdown {
    background-color: white;
}

.navi-list-container > li, .navi-list > li {
    display: inline-block;
    position: relative;
}

.navi-list-item:hover {
    cursor: pointer;
    box-shadow: 0px 4px 0px 0px rgb(37, 37, 37);
    transition: 100ms linear;
}

.navi-list-container-item .navi-list-item {
    padding: 5px;
}

.navi-list-container-item > ul li{
    display: block;
}

.navi-list-container-item > ul {
    position: absolute;
    z-index: 999;
    display: none;
}

.navi-list-container-item > button:hover {
    background-color: rgb(255, 255, 255);
}

.navi-list-container-item:hover > ul {
    display: block;
}

body {
    background-color: rgb(230, 230, 230);
}

form {
    margin: 5px;
    width: 20%;
}

form > button {
    margin: 0, auto;
    width: 100%;
}

input[type=text] {
    width: 100%;
    max-width: 200%;
    max-height: 200px;
    margin: 4px;
    padding:10px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

label {
    width: 100%;
    font-size: 14px;
    padding-bottom: 8px;
}

.items-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.data-wrapper {
    margin: 12px;
}

.data-wrapper > div > img {
    max-width: 200px;
    max-height: 200px;
}

.content-price {
    font-weight: bold;
}

.content-old-price {
    text-decoration: line-through;
    color: grey;
}